 .sign-form{
    padding: 30px; 
    background-color: #FFFFFF;
    flex-direction: column;
    /* background: rgba(86, 104, 136, 0.4); */
    /* width: 380px; */
    /* right: 80%; */
    /* transform: translateX(45%); */
    border-radius: 12px;
    transform: translateY(10%);
    margin-left: 480px;
    height: 500px;
    width: 380px; 
   
    /* border-width: 10px; */
    
   

   
 }
 .butn{
   color: #FFFFFF;
 }
 .RegForm{
  background: rgba(86, 104, 136, 0.4);
  height: 100vh;
 
 }
 h2{
    align-items: center;
     margin-left: 150px;
  }
  
  img{
    margin-left: -30px;
    border-radius: 10px;
  }
 
   #in{
    width: 320px;
   height: 30px;
    /* width: 100%;
    height: 40px;  */
    box-sizing: border-box;
 border-color: #000066;
  border-radius: 8px;
  position: relative;
  border-width: 1px;
  
  } 
  .logc{
   
width: 320px;
margin-top: 10px;
height: 30px;
background: #0F21C3;
border: 1px solid rgba(30, 30, 30, 0.16);
border-radius: 8px;
color: #FFFFFF;

  }
  